html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: istok-web, sans-serif;
}

h2 {
    font-size: 70px;
    margin: 30px 0;
}

h1 {
    font-size: 20px;
}

h2 img {
    width: 70px;
    height: 70px;
    margin: 0 30px -15px 0;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-g [class *= "pure-u"] {
    padding: 30px;
}
